body {
    background: #777;
  }
header {
    background: #ebebeb;
    text-align: center;
    padding: 20px;
    margin: 20px;
    color: #777;
  }
footer {
    background: #ebebeb;
    clear: both;
    text-align: center;
    padding: 20px;
    margin: 20px;
    color: #777;
  }
.section {
    background: #ebebeb;
    float: left;
    margin: 20px;
    width: 50%;
    text-align: center;
    padding-bottom, padding-left, padding-right: 10px;
    padding-top: 20px;
    font-size: 18px;
}
.aside {
    background: #ebebeb;
    float: left;
    margin: 20px;
    width: 40%;
    height: 225px;
    padding-top: 10px;
    text-align: center;
    color: #777;
}
.nav {
    background: #ebebeb;
    padding: 20px;
    margin: 20px;
    text-align: center;
    color: #777;
}
.div { 
    clear: both;
}
.article {
    background: #777;
    padding: 20px;
    text-align: center;
    margin: 10px;
    color: #ebebeb;
}

.h1 {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 18px;
    float: left;
    width: 33.3333333%;
    background: #ebebeb;
    padding: 10px;
}

.h2 {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 18px;
    float: left;
    width: 33.33333333%;
    background: #ebebeb;
    padding: 10px;
}

.h3 {
    width: 33.33333333%;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 18px;
    float: left;
    background: #ebebeb;
    padding: 10px;
}

.p {
    clear: both;
    background: #ebebeb;
    margin: 10px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #777;
}
